
body{
  margin: 0;
}
//************Color
$Orange-120:rgba(232, 121, 40, 1);
$Orange-100:rgba(255, 139, 55, 1);
$Orange-80:rgba(255, 172, 112, 1);
$Orange-5:rgba(255, 243, 235, 1);
$Green-100:rgba(71, 216, 103, 1);
$Green-5:rgba(230, 250, 234, 1);
$Red-100:rgba(236, 98, 89, 1);
$Red-5:rgba(253, 238, 237, 1);
$Black-40:rgba(208, 208, 216, 1);
$Black-5:rgba(245, 245, 247, 1);
$White-100:rgba(245, 245, 247, 1);
$Black-100:rgba(28, 28, 33, 1);
$colorText:#C4C4C4;


//**************Text

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

%Style{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 116%;
}
//Desktop

%DHeadline{
  @extend %Style;
  font-size: 56px;
  font-weight: 600;
}
%DButton{
  @extend %Style;
  font-size: 20px;
  font-weight: 600;
}
%DOption{
  @extend %Style;
  font-size: 20px;
}
%DQuestion{
  @extend %Style;
  font-weight: 600;
  font-size: 32px;
}

//Mobile

%MQuestion{
  @extend %Style;
  font-weight: 600;
  font-size: 18px;
}
%MOption{
  @extend %Style;
  font-weight: normal;
  font-size: 14px;
}
%MButton{
  @extend %Style;
  font-weight: 600;
  font-size: 14px;
}
%MHeadline{
  @extend %Style;
  font-size: 20px;
  font-weight: 600;
}

//**************Button

//Desktop
%DBD{
  @extend %DButton;
  color: $White-100;
  background: $Orange-100;
  border-radius: 12px;
  height: 64px;
  width:300px;
  border: none;
  transition: background-color 0.1s linear;
  outline: none;
}
%DBD:hover{
  background: $Orange-80;
}
%DBD:focus{
  background: $Orange-120;
}

//Mobile
%MBD{
  @extend %MButton;
  color: $White-100;
  background: $Orange-100;
  border-radius: 8px;
  height: 50px;
  width:300px;
  border: none;
}
%MBD:focus{
  background: $Orange-120;
}




