@import "values";
.freeze{
  pointer-events: none;
}
%common_img{
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  width: 405px;
  height: 73px;
  text-align: center;
  transition: background 0.1s linear;
  background-repeat: no-repeat;
  color: $Black-100;
}
.inactive {
  @extend %common_img;
  background-image: url("./../img/button/Inactive.svg");
}
.text {
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translate(0, -50%);

  span {
    @extend %DOption;
    margin-right: 8px;
  }

  span:first-child {
    @extend %DButton;
    color: $Orange-100;
  }
}
.inactive:hover {
  background-image: url("./../img/button/Hover.svg");
  background-repeat: no-repeat;
}
.correct {
  @extend %common_img;
  background-image: url("./../img/button/Correct.svg");
  pointer-events: none;
}
.selected {
  @extend %common_img;
  background-image: url("./../img/button/Selected.svg");
  pointer-events: none;
}
.wrong {
  @extend %common_img;
  background-image: url("./../img/button/Wrong.svg");
  pointer-events: none;
}
.disabled {
  @extend %common_img;
  pointer-events: none;
}

@media screen and (max-width: 1260px) {
  %common_img{
    width: 322px;
    height: 56px;
    font-weight: 600;
    font-size: 14px;
  }
  .inactive{
    background-image: url("./../img/button/Mobile/inactive.svg");
  }
  .inactive:hover {
    background-image: url("./../img/button/Mobile/inactive.svg");
  }
  .correct {
    background-image: url("./../img/button/Mobile/correct.svg");
    pointer-events: none;

  }
  .selected {
    background-image: url("./../img/button/Mobile/selected.svg");
    pointer-events: none;

  }
  .wrong {
    background-image: url("./../img/button/Mobile/wrong.svg");
    pointer-events: none;

  }
}
@media screen and (max-width: 960px) {
  .inactive{
    background-image: url("./../img/button/Mobile/inactive.svg");
    margin-bottom: 3px;
  }
  .inactive:hover {
    background-image: url("./../img/button/Mobile/inactive.svg");

  }
  .correct {
    background-image: url("./../img/button/Mobile/correct.svg");
    pointer-events: none;
    margin-bottom: 3px;

  }
  .selected {
    background-image: url("./../img/button/Mobile/selected.svg");
    pointer-events: none;
    margin-bottom: 3px;

  }
  .wrong {
    background-image: url("./../img/button/Mobile/wrong.svg");
    pointer-events: none;
    margin-bottom: 3px;

  }
}