/** @format */

@import 'values';
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.game {
  width: 73%;
  p {
    @extend %DQuestion;
    height: 74px;
    margin-top: 140px;
    margin-left: 80px;
    max-width: 640px;
  }
  background-color: #e5e5e5;
}
.answer {
  margin-left: 80px;
  bottom: 0;
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper {
  position: absolute;
  bottom: 0px;
  width: 810px;
  display: flex;
  flex-wrap: wrap;
}

.cash_wrapper {
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.burger {
  display: none;
}
.close {
  display: none;
}

@media screen and (max-width: 1260px) {
  .game {
    p {
      margin-left: 20px;
    }
  }
  .answer {
    margin-left: 20px;
  }
}
@media screen and (max-width: 960px) {
  .game {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    p {
      margin-top: 0;
    }
  }
  .answer {
    margin-left: 0;
    margin-top: 0;
  }
  .wrapper {
    width: 300px;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 40%;
    transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 720px) {
  .cash_wrapper {
    background-color: #e5e5e5;
  }
  .hidden {
    display: none;
    width: 0;
  }
  .visible {
    display: flex;
    width: 100%;
  }
  .game {
    width: 100%;
  }
  .wrapper {
    left: 50%;
  }
  .burger {
    display: block;
    background-image: url('./../img/burger/burger.png');
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 15px;
    width: 16px;
    transition: background 0.2s linear;
  }
  .burger:focus {
    outline: none;
  }
  .close {
    display: block;
    background-image: url('./../img/burger/close.png');
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 15px;
    width: 16px;
    transition: background 0.2s linear;
  }
  .close:focus {
    outline: none;
  }
}
